.form-login {
    margin-top: 250px;
    margin-left:  400px;
    margin-right: 400px;
    font-size: 24px;
}
.form-group {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#exampleInputEmail1{
    margin-left: 32px;
}

.btn {
    margin-left: 105px;
}